body{
    background-color: blanchedalmond;
}
svg{
    color:black;
}
h1{
    font-style: oblique;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 100px;
}
#Michel{
    background-color: orange;
}